node_modules
.idea
.deps_check
.DS_Store
npm-debug.log*
.eslintcache
package-lock.json
/dist/swagger-editor-bundle.js
/dist/swagger-editor.js
/dist/swagger-editor.css
/dist/swagger-editor-standalone-preset.js
/dist/validation.worker.js
_mockServer
.vscode